<% include partials/header %>

<div class="ui main text container">
    <div class ="ui huge header">RESTful Blogs</div>
    <div class ="ui top attacjed segment">
        <div class="ui divided items">

            <% blogs.forEach(function(blog) { %>
                <div class="item">
                     <div class="image">
                        <img src="<%=blog.image%>"">
                    </div>
                    <div class="content">
                        <a 
                            class="header 
                            ref="/blogs/<%=blog._id%>><%=blog.title%>
                        </a>

                        <!-- Place to put info about the item -->
                        <div class="meta">
                             <span><%-blog.created.toDateString()%></span>
                        </div>

                        <div class="description">
                            <p><%-blog.body.substring(0, 100)%> ... </p>
                        </div>
                        <div class="extra">
                            <a class="ui blue basic floated button" href="/blogs/<%=blog._id%>">
                            Read More ...
                            </a>
                        </div>
                    </div>
                </div>
                
            <% }) %>
            
        </div>
    </div>
</div>

<% include partials/footer %>