<% include partials/header %>

<div class="ui main text container segment" >
    <div class="ui huge header"><%=blog.title%></div>

    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src=<%=blog.image%>>
            <div class="content">
                <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="description">
                <!-- '-' instead of = treats content as "code" to be -->
                <!-- run, like html scripting -->
                <p><%- blog.body %></p>
            </div>
            <div>
            <br>
            <a class="ui blue basic button big" 
                href="/blogs/<%=blog._id%>/edit">
                    Edit
            </a>
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="ui red basic button big">
                        Delete
                </button>
            </form>
            </div>
        </div>
    </div>

    

</div>

<% include partials/footer %>
